html {
  scroll-behavior: smooth;
}
body {
  font-family: Verdana, sans-serif;
  color: var(--text-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #363636;
  --left-bg-color: #fff3e2;
  --right-bg-color: #fcfcfc;
  --main-color: #c27f43;
}

/* Navigation */
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background-color: var(--main-color);
}
.nav-list li {
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--left-bg-color);
}
.nav-link:hover {
  text-decoration: underline;
  color: var(--left-bg-color);
  transition: all 0.6s;
}

/* Intro */
.intro {
  display: flex;
  width: 100%;
  background-color: var(--right-bg-color);
}
.intro__photo {
  text-align: center;
  width: 35%;
  background-color: var(--left-bg-color);
}
.img {
  width: 70%;
  margin-top: 60px;
  box-shadow: 4px 4px 5px var(--main-color);
}
.inrto__header {
  width: 65%;
  margin: auto;
  padding-left: 50px;
  font-style: italic;
}
.header__title {
  margin-bottom: 20px;
  font-size: 45px;
  color: var(--main-color);
}

/* Columns */
.two-columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* Left column */
.left-column {
  width: 35%;
  padding: 0 2% 0 5%;
  background-color: var(--left-bg-color);
}

/* Contacts */
.contacts {
  display: inline-block;
}
.contacts ul {
  list-style-type: none;
}
.title {
  margin: 70px 0 40px 0;
}
.contacts__list {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.icon {
  font-size: 22px;
  margin-right: 20px;
  color: var(--main-color);
}
.contacts-link {
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color);
}
.contacts-link:hover {
  text-decoration: underline;
  color: var(--main-color);
  transition: color 0.6s;
}
/* Skills */
.skills-list {
  list-style-position: inside;
}
.skills-item {
  margin-bottom: 10px;
  font-size: 18px;
}
.skills-item::marker {
  font-size: 30px;
  color: var(--main-color);
}

/* Right column */
.right-column {
  width: 65%;
  padding: 0 50px;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--right-bg-color);
}
.title-text {
  font-size: 18px;
}
.title__info {
  margin-bottom: 30px;
}

.title__info-years {
  display: inline-block;
  padding: 3px 5px;
  margin-bottom: 5px;
  width: fit-content;
  height: 35px;
  text-align: center;
  font-weight: 700;
  border-radius: 5%;
  box-shadow: 4px 4px 8px var(--main-color);
  color: #9b6433;
  background-color: var(--left-bg-color);
}
.code__item {
  width: 100%;
  margin: 30px 0;
  background-color: var(--left-bg-color);
  box-shadow: 4px 4px 8px var(--main-color);
}
.code__text {
  width: 98%;
  display: flex;
  word-wrap: break-word;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--main-color);
  color: var(--left-bg-color);
}
.footer__git {
  display: flex;
  align-items: center;
}
.icon-git {
  font-size: 40px;
  margin-right: 10px;
  color: var(--left-bg-color);
}
.link-git {
  text-decoration: none;
  color: var(--left-bg-color);
}
.link-git:hover {
  cursor: pointer;
  text-decoration: underline;
}
.rs-school-icon {
  width: 125px;
  padding-top: 5px;
}

/* Media */
@media (max-width: 1170px) {
  .contacts-link {
    font-size: 16px;
  }
}

@media (max-width: 960px) {
  .left-column {
    padding-left: 10px;
  }
}
@media (max-width: 880px) {
  .header__title {
    font-size: 35px;
  }
  .nav-link {
    font-size: 14px;
  }
}
@media (max-width: 850px) {
  .intro__photo {
    width: 100%;
    background-color: #fff;
  }
  .inrto__header {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
  }
  .intro {
    display: flex;
    flex-wrap: wrap;
  }
  .img {
    width: 50%;
    margin-top: 60px;
  }
  .code__text {
    font-size: 16px;
  }
}
@media (max-width: 730px) {
  .code__text {
    font-size: 14px;
  }
}
@media (max-width: 685px) {
  .two-columns {
    flex-wrap: wrap;
  }
  .left-column {
    width: 100%;
    padding-bottom: 40px;
    padding-left: 25%;
  }
  .title {
    font-size: 30px;
    padding-left: 10%;
  }
  .skills-item {
    font-size: 22px;
  }
  .right-column {
    min-width: 446px;
    width: 100%;
  }
}
@media (max-width: 580px) {
  .right-column {
    padding: 0 20px;
  }
  .left-column {
    padding: 0 20px;
  }
}
@media (max-width: 400px) {
  .header__title {
    font-size: 30px;
  }
  .header__subtitle {
    font-size: 20px;
  }
  .right-column {
    padding: 0 20px;
  }
  .left-column {
    padding: 0 20px;
  }
}
